<!DOCTYPE html>
<html>
  <head>
    <title>HighlightRubyDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script src="https://unpkg.com/highlight.run"></script>
    <script>
      H.init('1jdkoe52', {
        environment: 'dev',
        networkRecording: {
          enabled: true,
          recordHeadersAndBody: true,
        },
      });
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
